<nav *ngIf="showNavbar" id="navbar" class="bg-transparent fixed top-0 left-0 rigth-0 w-full z-50">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-between">
        <a [routerLink]="['/']" class="flex-shrink-0 flex items-center cursor-pointer">
          <img class="block lg:hidden h-9 w-auto" src="./assets/logo.png" alt="Workflow">
          <img class="hidden lg:block h-9 w-auto" src="./assets/logo.png" alt="Workflow">
        </a>
        <div *ngIf="isLogged && isAdmin">
          <a [routerLink]="['/admin/content']" class="inline-flex items-center px-3 py-1 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            Gerenciar Conteúdo
          </a>
          <a [routerLink]="['/admin/categories']" class="inline-flex ml-2 items-center px-3 py-1 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            Gerenciar Categorias
          </a>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative">
          <div *ngIf="isLogged">
            <div>
              <button (click)="toggleMenuUser()" type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-10 w-10 rounded-full object-cover" [src]="user.image" alt="">
              </button>
            </div>

            <div *ngIf="menuOpen" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Perfil</a>
              <button (click)="makeLoggout()" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sair</button>
            </div>
          </div>
          <div *ngIf="!isLogged && showButtonLogin">
            <a [routerLink]="['/auth']" class="inline-flex items-center px-3 py-1 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
              Entrar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
