<main class="mt-16 md:mt-0">
  <div class="filme-principal" [ngStyle]="{ background: 'linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(' + featuredfilm.image + ')'}">
    <div class="container">
      <h3 class="titulo">{{featuredfilm.name}}</h3>
      <p class="descricao"> {{featuredfilm.categoriesString}}
      <p class="descricao">{{featuredfilm.description}}</p>
      <div class="botoes">
        <a href="https://www.youtube.com/watch?v=Jg-ls07nixc">
          <button role="button" class="botao">
            <i class="fas fa-play"></i>
            ASSISTIR AGORA
          </button>
        </a>
      </div>
    </div>
  </div>
</main>


<div class="carrosel-filmes pb-10">
  <p class="text-4xl pl-2 md:my-4 my-8">Lançamentos</p>
  <app-carousel-content [content]="films"></app-carousel-content>
</div>

<div *ngFor="let category of categories" class="carrosel-filmes pb-20">
  <p class="text-4xl pl-2 md:my-4 my-8">{{category.name}}</p>
  <app-carousel-content [content]="category.films"></app-carousel-content>
</div>

